


.card{
    width: 900px;
    float: left;
    
    flex: 50%;
    top: 20px;
    border: none;
    
    
    
    
}
.lft{
   display: flex;
   flex-direction: column;
   float: right;
   float: top;
   padding-right: 100px;
   position:absolute;
 top: 50px;
 left: 400px;
  

  
} 

.head{
  display: flex;
   flex-direction: column;
   float: right;
   float: top;
   padding-right: 100px;
   position:absolute;
 top: 10px;
 left: 250px;
 padding-left: 50px;
}

.buttonn{
  display: flex;
   flex-direction: column;
   float: left;
   float: top;
   padding-right: 100px;
   position:absolute;
 top: 20px;
 left: 1250px;
 padding-right: 10px;
 padding-bottom: 10px;


}


.button-edit{
  background-color: #2a217a;
  block-size:auto;
  outline: auto;
  outline-color: #2a217a;
}

:hover.button-edit{
  background-color: rgb(156, 116, 116);
  outline:auto;
  outline-color: #3c3e3f;
}